@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
}
form input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
}
.container-sidebar {
    width: 20%;
    transition: all 0.2s ease;
    height: 100vh;
}
.container-main {
    /* Take the remaining width */
    flex: 1;
    /* Make it scrollable */
    overflow: auto;
    background-color: white;
    color: black !important;
    margin: 15px 15px 15px 0;
    border-radius: 20px;
}
.container-flex {
    display: flex;
    height: 100%;
}
ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 720px) {
    .form {
        width: 50%;
    }
}

/* sidebar */
.accordion-button {
    padding: 10px 6px;
}