@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
    font-size: 1.1rem;
}

form input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
}

.container-sidebar {
    width: 20%;
    transition: all 0.2s ease;
    height: 100vh;
}

.container-main {
    /* Take the remaining width */
    flex: 1;
    /* Make it scrollable */
    overflow: auto;
    background-color: white;
    color: black !important;
    margin: 15px 15px 15px 0;
    border-radius: 20px;
}

.container-flex {
    display: flex;
    height: 100%;
}

ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* sidbar */
.sidebar-title {
    font-weight: 700;
}

.sidebar-label {
    padding-left: 8px;
    margin: 10px 0;
}

.sidebar-label a {
    text-decoration: none;
    color: black;
}

.sidebar-label a:hover {
    color: #0c63e4;
}

.accordion-button {
    font-size: 1.1rem;
}

.accordion-body ul li a {
    text-decoration: none;
    color: black;
}

.accordion-body ul li a:hover {
    color: #0c63e4;
}


/* table */
.table-title {
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;
}

.table-header {

    color: white;

    background: linear-gradient(270.62deg, #0c63e4 -25.07%, #A0B304 103.72%);
    /* s1 */

    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Map */

#map {
    height: 100%;
    width: 100%;
}




@media only screen and (min-width: 720px) {
    .form {
        width: 50%;
    }
}

/* sidebar */
.accordion-button {
    padding: 10px 6px;
}
